:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #ED0A21;
}
.white{
    color: var(--white);
}
.dark{
    color: var(--white);
}
.btn-green,
.btn-green:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 56px;
    color: var(--white);
    background-color: #008E41;
    border-radius: 15px;
    border-color: transparent;
}
.btn-green img{
    margin-left: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* Header start */
body.home header{
    position: absolute;
    top: 0;
    left: 0;
}
header{
    height: 80px;
    z-index: 2;
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
}
header .search_btn {    
    height: 40px;
    flex: 0 0 40px;
    background-color: #3A3C40;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
header .lang {
    display: none;
    color: var(--white);
}
body.home header .navbar-nav a {
    text-decoration: none;
    font-size: 15px;
    position: relative;
    line-height: 34px;
    margin-right: 12px;
    padding: 5px;
    font-weight: 600;
    color: #D9D9D9;
}
/* Header end */
/* main slider start */
section.main-slider{
    /* margin-top: -80px; */
    position: relative;
    /* z-index: -1; */
}
section.main-slider .carousel{
    /* z-index: -1; */
}
section.main-slider .carousel-item{
    /* z-index: -1; */
    height: 680px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}
section.main-slider .carousel-item h2{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
section.main-slider .carousel-item p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 90px;
}

.main-slider .carousel-indicators{
    left: auto;
    right: 150px;
    bottom: auto;
    top: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    transform: translateY(-50%);
}
.main-slider .carousel-indicators button{
    text-indent: 0;
    height: auto;
    background-color: transparent;
    font-weight: 800;
    font-size: 15px;
}
.main-slider .carousel-indicators [data-bs-target]{
    box-sizing: border-box;
    color: var(--white);
    background-color: transparent;
    border: none;
    height: 53px;
}
.main-slider .carousel-indicators [data-bs-target]::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 53px;
    border-right: 1px solid var(--white);
    opacity: 0.5;
}
.main-slider .carousel-indicators [data-bs-target].active::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 53px;
    border-right: 1px solid var(--red);
    opacity: 0.5;
}
/* main slider end */
/* about us start */
section.about-us{
    background-image: url('../images/about-us-bg.jpg');
    background-size: cover;
    height: 700px;
    padding: 130px 0 85px;
}
section.about-us p{
    margin: 30px 0 20px;
}
/* about us end */
/* services start */
section.services{
    background-color: #EEF8F2;
    padding: 70px 0 300px;
}
section.services-details{
    background-color: #FFF8F8;
}
section.services-details .service-card{
    height: 330px;
    padding: 35px;
    margin-top: -260px;
    background-image: url(../images/service-card-bg.jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.services-details .service-card .icon img{
    height: 55px;
}
section.services-details .service-card h2{
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}
section.services-details .service-card p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
}
section.services-details .service-card a{
    font-weight: 400;
    font-size: 15px;
    color: #007133;
    text-decoration: none;
}
section.services-details .service-card a img{
    margin-left: 10px;
}
/* services end */
/* solutions start */
section.solutions{
    padding: 65px 0;
    background-color: #FFF8F8;
}
section.solutions nav{
    background-color: #C31A2B;
    height: 55px;
    border-radius: 20px;
}
section.solutions nav .nav-tabs{
    border-bottom: none;
    justify-content: space-around;
}
section.solutions nav .nav-tabs button{
    border: none;
    height: 55px;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.7;
}
section.solutions nav .nav-tabs button.active{
    border: none;
    height: 55px;
    background-color: #C31A2B;
    color: var(--white);
    font-weight: 700;
    opacity: 1;
}
section.solutions nav .nav-tabs button{
    color: var(--white);
    height: auto;
}
section.solutions .tab-content .tab-pane{
    padding-top: 50px;
}
section.solutions .tab-content .tab-pane h3{
    font-weight: 700;
    font-size: 35px;
    text-transform: none;
    margin-bottom: 25px;
}
section.solutions .tab-content .tab-pane p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
    margin-bottom: 25px;
    text-align: justify;
}
section.solutions ul li{
    position: relative;
}
section.solutions ul li a{
    display: flex;
    width: 100%;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    margin-bottom: 15px;
    align-items: center;
    color: var(--black);
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    padding: 0 25px;

}
section.solutions ul li::after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/arrow-right.svg);
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
section.solutions ul li a img{
    height: 24px;
    margin-right: 15px
}
/* solutions end */
/* projects start */
section.projects{
    padding: 65px 0;
    background-image: url(../images/projects-bg.jpg);
    background-size: cover;
}
section.projects .item .col-md-5{
    padding-right: 0 !important;
}
section.projects .item .col-md-7{
    padding-left: 0 !important;
}
section.projects ul.project-details-items{
    /* display: flex;
    flex-direction: column;
    flex: 1 1 100%; */
}
section.projects ul.project-details-items li{
    display: flex;
    width: 100%;
    height: 95px;
}
section.projects ul.project-details-items li .label{
    color: #FFFFFF;
    background-color: rgba(237, 10, 33, 1);
    flex: 0 0 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    /* width: 30%;
    display: inline-block; */
}
section.projects ul.project-details-items li .text{
    background-color: var(--white);
    flex: 0 0 calc(100% - 220px);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    /* width: 70%;
    display: inline-block; */
}
section.projects .project-carousel{
    margin-top: 30px;
}
section.projects .project-carousel > .owl-nav button{
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #DBDBDB;

}
section.projects .project-carousel > .owl-nav .owl-prev{
    left: -65px;
}
section.projects .project-carousel > .owl-nav .owl-next{
    right: -65px;
}
section.projects .project-inner-carousel .item{
    height: 380px;
    background-size: cover;
}
section.projects .project-inner-carousel .owl-nav button{
    position: absolute;
    background-color: transparent !important;
    color: var(--white);
    bottom: 45px;
}
section.projects .project-inner-carousel .owl-nav .owl-prev{
    right: 100px;
}
section.projects .project-inner-carousel .owl-nav .owl-next{
    right: 50px;
}
section.projects .project-inner-carousel .btn-green{
    position: absolute;
    left: 35px;
    bottom: 30px;
}
section.projects .project-inner-carousel .btn-green img{
    width: 15px;
    height: 15px;
}
/* projects end */
/* Industries start */
section.industries{
    padding: 120px 0 20px;
}
section.industries .industry-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
section.industries .industry-item-card{
    flex: 0 0 30%;
    padding: 35px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    height: 280px;
}
section.industries .industry-item-card .icon {
    width: 72px;
    height: 72px;
    background-color: #C31A2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 13px;
}
section.industries .industry-item-card .icon img{
    height: 32px;
}
section.industries .industry-item-card h2{
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
section.industries .industry-item-card p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
    text-align: justify;
    margin-bottom: 15px;
}
section.industries .industry-item-card a{
    font-weight: 400;
    font-size: 15px;
    color: #007133;
    text-decoration: none;
}
section.industries .industry-item-card a img{
    margin-left: 10px;
}
/* Industries end */
/* partners start */
section.partners{
    padding: 75px 0 45px;
    background-color: #C31A2B;
}
section.partners .owl-carousel-item{
    height: 100px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.partners .owl-carousel-item img{
    max-width: 130px;
}
section.partners .owl-nav button:not(.disabled){
    background-color: #5B0C04;
    color: var(--white);
}
/* partners end */
/* clients start */
section.clients{
    padding: 75px 0 45px;
    background-color: #5B0C04;
}
section.clients .owl-carousel-item{
    height: 100px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.clients .owl-carousel-item img{
    max-width: 130px;
}
section.clients .owl-nav button:not(.disabled){
    background-color: #C31A2B;
    color: var(--white);
}
/* clients end */


section h3{
    color: #C31A2B;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
section h2{
    font-weight: 500;
    font-size: 30px;
}
section p{
    font-weight: 500;
    font-size: 15px;
    color: #3A3C40;
}
section.dark h3,
section.dark h2,
section.dark p{
    color: var(--white);
}
.owl-nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.owl-nav button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px;
}
.owl-nav button.disabled{
    background-color: #DBDBDB !important;
}

.top-title{
    background-image: url(../images/breadcramb-bg.jpg);
    color: var(--white);
    height: 160px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.breadcrumb{   
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0;
}
.breadcrumb li{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}
.breadcrumb li:not(:last-child)::after{
    content: '/';
    color: #fff;
    margin: 0 5px;
}
.breadcrumb li a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}


section.services-items{
    padding: 80px 0 130px;
    background-color: #F5F5F5;
}

section.services-items .service-item{
    height: 290px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 30px;
}
section.services-items .service-item:nth-child(odd){
    background-image: url(../images/service-bg-1.svg);
    background-color: var(--white);
}
section.services-items .service-item:nth-child(even){
    color: var(--white);
    background-image: url(../images/service-bg-2.svg);
    background-color: #3A3C40;
}

section.services-items .service-item:nth-child(odd) p{
    color: 3A3C40;
}

section.services-items .service-item:nth-child(even) p{
    color: var(--white);
}
section.solutions-about{
    background-color: #1C1A1A;
    padding-bottom: 30px;
}
section.solutions-about .solutions-about-text{
    padding: 60px 0;
}
section.solutions-about .solutions-about-img{
    margin-top: 25px;
}

section.solutions-about h3{
    color: #C31A2B;
    font-weight: 600;
    font-size: 20px;
}
section.solutions-about h2{
    font-weight: 700;
    font-size: 35px;
    color: #DBDBDB;
    margin-bottom: 40px;
}
section.solutions-about p{
    font-weight: 400;
    font-size: 15px;
}
section.solutions-about .img-top{
    margin-top: -24px;
    border-radius: 15px;
}
section.solutions-about .img-bottom-container{
    text-align: right;
    margin-top: -60px;
    position: relative;
}
section.solutions-about .img-bottom-container::before{
    content: '';
    background-image: url(../images/shield.svg);
    width: 70px;
    height: 80px;
    position: absolute;
    top: -60px;
    right: 120px;
}
section.solutions-about .img-bottom{
    border-radius: 15px;
}
section.solutions-inner .solutions-inner-tabs{
    background-color: #1E1E1E;
}
section.solutions-inner .solutions-inner-tabs .nav-tabs .nav-link{
    color: var(--white) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px !important;
    border: 1px solid transparent;
    border-radius: 0;
    width: 100%;
}
section.solutions-inner .solutions-inner-tabs .nav-link:hover,
section.solutions-inner .solutions-inner-tabs .nav-link.active{
    background-color: #C01522 !important;
}
section.solutions-inner .tab-pane{
    padding: 35px 0 150px;
}
/* become-a-partner start */
section.become-a-partner{
    background-image: url(../images/become-a-partner-bg.jpg);
    background-size: cover;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.become-a-partner .btn-green{
    margin: auto;
}
section.become-a-partner p{
    font-weight: 400;
    font-size: 15px;
    opacity: 0.8;
}
/* become-a-partner end */
section.contact{
    background: linear-gradient(to right, #fff 30%, #2A2727 30%, #2A2727 100%);

}
section.contact>.container>.row{
    background: linear-gradient(to right, #fff 5%, #2A2727 5%, #2A2727 100%);
}
section.contact .dark{
    color: var(--white);
}
section.contact .contact-title{
    padding: 40px 0 30px;
}
section.contact .contact-form{
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: -85px;
}
section.contact .contact-form .form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 45px;
    color: var(--black);
}
section.contact .contact-form .form-control:focus{
    border-bottom: 1px solid #C41A2B;
}
section.contact .contact-form .form-control:focus,
section.contact .contact-form .form-control:focus-visible,
section.contact .contact-form .form-control:focus-visible{
    box-shadow: none;
}
section.contact .contact-form .form-control::placeholder{
    color: #7D7D7D;
}
.btn-contact,
.btn-contact:hover{
    width: 159px;
    height: 56px;
    border: 1px solid #C01522;
    border-radius: 15px;
    color: #211F1F;
}
.btn-contact svg{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.btn-contact svg path{
    stroke: #C01522;
}
section.contact .contact-item{
    color: var(--white);
    display: flex;
    margin-bottom: 25px;
}
section.contact .contact-item .contact-img{
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C31A2B;
    border-radius: 15px;
    margin-right: 27px;
}
section.contact .contact-item .contact-info .title{
    font-weight: 700;
    font-size: 25px;
}
section.contact .contact-item .contact-info .text{
    font-weight: 600;
    font-size: 15px;
}
section.contact .contact-item .contact-info .text a{
    color: var(--white);
    text-decoration: none;
}
section.empty{
    height: 170px;
}
/* become-a-partner start */
/* become-a-partner end */
/* become-a-partner start */
section.partners-inner{
    padding: 70px 0;
}
section.partners-inner h2{
    font-weight: 700;
}
section.partners-inner p{
    margin-bottom: 50px;
}
section.partners-inner .partners-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
section.partners-inner .partner-item{
    flex: 0 0 calc(16.66% - 16.66px);    
    background-color: #FCFCFC;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;;
    border-radius: 15px;
}
section.partners-inner .partner-item img{
    max-width: 130px;
}
/* become-a-partner end */

/* industries inner start */
section.industries-inner{
    background: linear-gradient(to right, #2A2727 30%, #fff 30%, #fff 100%);

}
section.industries-inner>.container>.row{
    background: linear-gradient(to right, #2A2727 33.3%, #fff 33.3%, #fff 100%);
}
section.industries-inner .dark{
    padding: 50px 0;
    color: var(--white);
}
section.industries-inner h2{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
section.industries-inner .industry-img img{
    border-radius: 15px;
    margin-top: 75px;
}
section.industries-inner .industry-details{
    margin-top: 100px;
}
section.industries-inner .nav-tabs button{
    text-align: left !important;
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
}
section.industries-inner .nav-tabs button svg{
    height: 18px;
    margin-right: 20px;
}
section.industries-inner .nav-tabs button.active svg path,
section.industries-inner .nav-tabs button:hover svg path{
    stroke: #C01522;
    fill: #C01522;
}
section.industries-inner .nav-tabs{
    border-bottom: none;
}
section.industries-inner .nav-tabs button.active,
section.industries-inner .nav-tabs button:hover{
    color: #C01522;
    background-color: transparent;
    border: 1px solid transparent;
}
section.industries-inner .industry-details h3{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
section.industries-inner .industry-details h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}
section.industries-inner .industry-details p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
}

section.solutions-inner .solutions-inner-carousel{
    height: 125px !important;
}
section.solutions-inner .solutions-inner-carousel > .owl-nav button.disabled,
section.solutions-inner .solutions-inner-carousel > .owl-nav button{
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:  rgba(21, 21, 21, 0.87) !important;
    color: var(--white);

}
section.solutions-inner .solutions-inner-carousel > .owl-nav .owl-prev{
    left: -65px;
}
section.solutions-inner .solutions-inner-carousel > .owl-nav .owl-next{
    right: -65px;
}
/* industries inner end */
/* about start */
section.about-inner{
    background: linear-gradient(to right, #2A2727 30%, #fff 30%, #fff 100%);
}
section.about-inner .about-title{
    padding: 65px 0 75px;
    background-color: #2B2727;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 0px 0px 25px 0px;
    padding-right: 65px;
}
section.about-inner .about-title p{
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
}
section.about-inner .about-summary{
    margin-top: 125px;
}
/* about end */
section.security-solutions{
    padding: 40px 0 90px;
}
section.security-solutions .security-solutions-text{
    padding-right: 100px;
}
section.security-solutions h3{
     margin: 40px 0 20px;
}
section.security-solutions h6{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
}
section.security-solutions p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
}
section.ceo-message{
    background-color: #2B2727;
    padding: 60px 0 50px;
}
section.ceo-message h2{
    text-transform: uppercase;
}
section.ceo-message .security-solutions-text{
    position: relative;
    margin-top: 145px;
    font-size: 15px;
    line-height: 26px;
}
section.ceo-message .security-solutions-text::before{
    content: '';
    width: 181px;
    height: 127px;
    background-image: url(../images/quotemarks-left.svg);
    left: 10px;
    top: -100px;
    background-size: cover;
    position: absolute;
}
section.ceo-message .security-solutions-text p{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
}
section.our-values{
    padding: 40px 0 120px;
    background-color: #C41A2B;
}
section.our-values-details{
    margin-bottom: 70px;
}
section.our-values-details .value-card{
    height: 330px;
    padding: 35px;
    margin-top: -80px;
    background-color: #FCFCFC;
    background-size: cover;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
section.our-values-details .value-card .icon img{
    height: 55px;
    margin-bottom: 30px;
}
section.our-values-details .value-card h2{
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}
section.our-values-details .value-card p{
    font-weight: 500;
    font-size: 15px;
    color: #3A3C40;
}
section.our-values-details .value-card a{
    font-weight: 400;
    font-size: 15px;
    color: #007133;
    text-decoration: none;
}
section.our-values-details .value-card a img{
    margin-left: 10px;
}

footer{
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    color: var(--white) !important;
    padding: 40px 0 55px;
}
footer .footer-newsletter .subscribe{
    position: relative;
    height: 115px;
    display: flex;
    align-items: center;
}
footer .footer-newsletter .newsletter-label-container{
    height: 115px;
    display: flex;
    align-items: center;
}
footer .footer-newsletter .subscribe input{
    height: 70px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    background-color: #FCFCFC;
    width: 100%;
    padding-left: 52px;
    outline: none !important;
}
footer .footer-newsletter .subscribe-btn{
    background-color: #C31A2B;
    border-radius: 15px;
    border: 1px solid #C31A2B;
    width: 131px;
    height: 62px;
    color: #FFFFFF;
    position: absolute;
    right: 5px;
}
footer .footer-newsletter .container{
    background-color: rgba(0, 0, 0, 0.2);
    height: 115px;
    border-radius: 15px;
}
footer .footer-newsletter h4{
    font-weight: 700;
    font-size: 25px;
}
footer .footer-bottom{
    margin-top: 50px;
}
footer .footer-bottom .logo{
    margin-bottom: 20px;
}
footer .footer-bottom .description{
    font-weight: 400;
    font-size: 15px;
    color: var(--white);
    line-height: 26px;
    margin-bottom: 30px;
}
footer .social-links{
    margin-bottom: 30px;
}
footer .social-links a{
    margin-bottom: 30px;
    font-size: 24px;
    
}
footer .fast-links{
    padding: 0 50px;
}
footer .fast-links a{
    color: var(--white);
    text-decoration: none;
}
footer .contact-info .contact-info-item{
    margin-bottom: 20px;
}
footer .contact-info .contact-info-item .icon{
    margin-right: 20px;
}
footer .contact-info .contact-info-item .text{
    font-weight: 400;
    font-size: 15px;
}
footer .contact-info .contact-info-item a{
    color: var(--white);
    text-decoration: none;
}
footer .fast-links ul li{
    margin-bottom: 30px;
}
/*------------------*/
section.projects ul.project-details-items li .text {
    color: #000;
    border: 1px solid #DBDBDB40;
}

section.projects ul.project-details-items li:first-child .text {
    border-top-right-radius: 15px;
}

section.projects ul.project-details-items li:last-child .text {
    border-bottom-right-radius: 15px;
}

section.projects ul.project-details-items li .label {
    border: 1px solid #DBDBDB40;
}

section.solutions .tab-content .tab-pane p {
    line-height: 30px;
    padding-right: 30px;
}

.owl-carousel .owl-stage-outer {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

footer .social-links a {
    color: #fff;
    margin-right: 10px;
}

    footer .social-links a:hover {
        color: #c31a2b;
    }
.layout.position-relative.project {
    background-color: #FFF8F8;
}
section.projects.page {
    background: none;
}
section.projects.page h2, section.projects.page p {
    color: black;
}
.Project-item {
margin-top:30px
}
.team-carousel .owl-carousel-item{
    background: #FCFCFC;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    padding: 14px 17px 30px;
}
.team-carousel .owl-carousel-item a{
    text-decoration: none;
}
.team-carousel .owl-carousel-item .image{
    background-size: cover;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    height: 190px;
    
}
.team-carousel .owl-carousel-item h4{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.team-carousel .owl-carousel-item h6{
    color: #3A3C40;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.team-carousel .owl-nav.disabled{
    display: flex;
}
.team-carousel .owl-nav button{
    width: 45px;
    height: 45px;
    background-color: #007133 !important;
    color: var(--white) !important;
}
.team-carousel .owl-nav button:hover{
    background-color: #DBDBDB !important;
    color: #3A3C40 !important;
}