:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #ED0A21;
}
.white{
    color: var(--white);
}
.dark{
    color: var(--white);
}
.btn-green,
.btn-green:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 56px;
    color: var(--white);
    background-color: #008E41;
    border-radius: 15px;
    border-color: transparent;
}
.main-slider .btn-green img{
    margin-left: 10px;
    width: 16px !important;
    height: 16px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* Header start */
body.home header{
    position: absolute;
    top: 0;
    left: 0;
}
header{
    height: 80px;
    z-index: 2;
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
}
header .search_btn {    
    height: 40px;
    flex: 0 0 40px;
    background-color: #3A3C40;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
header .lang {
    display: none;
    color: var(--white);
}
body.home header .navbar-nav a {
    text-decoration: none;
    font-size: 15px;
    position: relative;
    line-height: 34px;
    margin-right: 12px;
    padding: 5px;
    font-weight: 600;
    color: #D9D9D9;
}
body.home header .navbar-nav  a:hover,
body.home header .navbar-nav  a:active {
    color: var(--red)!important;
}
body.home header .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color: var(--red) !important;
}
/* Header end */
/* main slider start */
section.main-slider {
    /* margin-top: -80px; */
    position: relative;
    /* z-index: -1; */
}
section.main-slider .carousel{
    /* z-index: -1; */
}
section.main-slider .carousel-item{
    /* z-index: -1; */
    height: 680px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}
section.main-slider .carousel-item h2{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
section.main-slider .carousel-item p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 90px;
}

.main-slider .owl-dots{
    position: absolute;
    left: auto;
    right: 150px;
    bottom: auto;
    top: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    transform: translateY(-50%);
}
.main-slider .owl-dots button{
    text-indent: 0;
    height: auto;
    background-color: transparent;
    font-weight: 800;
    font-size: 15px;
}
.main-slider .owl-dots .owl-dot{
    display: flex;
}
.main-slider .owl-dots::before{
    content: '01';
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    transform: translateX(50%);
    position: absolute;
    right: 0;
    top: -30px;
}
.main-slider .owl-dots::after{
    content: '03';
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    transform: translateX(50%);
    position: absolute;
    right: 0;
    bottom: -30px;
}
.main-slider .owl-dots .owl-dot span{
    width: 20px;
    height: 53px;
    background-color: transparent !important;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    margin: 0;
    
}
.main-slider .owl-dots .owl-dot.active span{
    border-right: 1px solid var(--red);
}
.main-slider .carousel-indicators [data-bs-target]{
    box-sizing: border-box;
    color: var(--white);
    background-color: transparent;
    border: none;
    height: 53px;
}
.main-slider .carousel-indicators [data-bs-target]::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 53px;
    border-right: 1px solid var(--white);
    opacity: 0.5;
}
.main-slider .carousel-indicators [data-bs-target].active::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 53px;
    border-right: 1px solid var(--red);
    opacity: 0.5;
}
/* main slider end */
/* about us start */
section.about-us{
    background-image: url('../images/about-us-bg.jpg');
    background-size: cover;
    height: 700px;
    padding: 130px 0 85px;
}
section.about-us p{
    margin: 30px 0 20px;
}
/* about us end */
/* services start */
section.services{
    background-color: #EEF8F2;
    padding: 70px 0 300px;
}
section.services-details{
    background-color: #FFF8F8;
}
section.services-details .service-card{
    height: 330px;
    padding: 35px;
    margin-top: -260px;
    background-image: url(../images/service-card-bg.jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.services-details .service-card .icon img{
    transition:.1s;
    height: 55px;
}
section.services-details .service-card h2{
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}
section.services-details .service-card p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
}
section.services-details .service-card a{
    font-weight: 400;
    font-size: 15px;
    color: #007133;
    text-decoration: none;
}
section.services-details .service-card a img{
    margin-left: 10px;
}
/* services end */
/* solutions start */
section.solutions{
    padding: 65px 0;
    background-color: #FFF8F8;
}
section.solutions nav{
    background-color: #C31A2B;
    height: 55px;
    border-radius: 20px;
}
section.solutions nav .nav-tabs{
    border-bottom: none;
    justify-content: space-around;
}
section.solutions nav .nav-tabs button{
    border: none;
    height: 55px;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.7;
}
section.solutions nav .nav-tabs button.active{
    border: none;
    height: 55px;
    background-color: #C31A2B;
    color: var(--white);
    font-weight: 700;
    opacity: 1;
}
    section.solutions nav .nav-tabs button:hover {
        border: none;
        height: 55px;
        background-color: #C31A2B;
        color: var(--white);
        font-weight: 700;
        opacity: 1;
    }
section.solutions nav .nav-tabs button{
    color: var(--white);
    height: auto;
}
section.solutions .tab-content .tab-pane{
    padding-top: 50px;
}
section.solutions .tab-content .tab-pane h3{
    font-weight: 700;
    font-size: 35px;
    text-transform: none;
    margin-bottom: 25px;
}
section.solutions .tab-content .tab-pane p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
    margin-bottom: 25px;
    text-align: justify;
}
section.solutions ul li{
    position: relative;
}
section.solutions ul li a{
    display: flex;
    width: 100%;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    margin-bottom: 15px;
    align-items: center;
    color: var(--black);
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    padding: 0 25px;

}
section.solutions ul li::after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/arrow-right.svg);
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
section.solutions ul li a img{
    height: 24px;
    margin-right: 15px
}
/* solutions end */
/* projects start */
section.projects{
    padding: 65px 0;
    background-image: url(../images/projects-bg.jpg);
    background-size: cover;
}
section.projects .item .col-md-5{
    padding-right: 0 !important;
}
section.projects .item .col-md-7{
    padding-left: 0 !important;
}
section.projects ul.project-details-items{
    /* display: flex;
    flex-direction: column;
    flex: 1 1 100%; */
}
section.projects ul.project-details-items li{
    display: flex;
    width: 100%;
    height: 95px;
}
section.projects ul.project-details-items li .label{
    color: #FFFFFF;
    background-color: rgba(237, 10, 33, 1);
    flex: 0 0 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    /* width: 30%;
    display: inline-block; */
}
section.projects ul.project-details-items li .text{
    background-color: var(--white);
    flex: 0 0 calc(100% - 220px);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    /* width: 70%;
    display: inline-block; */
}
section.projects .project-carousel{
    margin-top: 30px;
}
section.projects .project-carousel > .owl-nav button{
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #DBDBDB;

}
section.projects .project-carousel > .owl-nav .owl-prev{
    left: -65px;
}
section.projects .project-carousel > .owl-nav .owl-next{
    right: -65px;
}
section.projects .project-inner-carousel .item{
    height: 380px;
    background-size: cover;
}
section.projects .project-inner-carousel .owl-nav button{
    position: absolute;
    background-color: transparent !important;
    color: var(--white);
    top: 50%;
    transform: translateY(-50%);
}
section.projects .project-inner-carousel .owl-nav .owl-prev{
    left: 0;
}
section.projects .project-inner-carousel .owl-nav .owl-next{
    right: 0;
}
section.projects .project-inner-carousel .btn-green{
    position: absolute;
    left: 35px;
    bottom: 30px;
}
section.projects .project-inner-carousel .btn-green img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
section.projects .project-inner-carousel .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}
section.projects .project-inner-carousel .overley{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 33.47%, #FFFFFF 100%);
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.04));
    border-radius: 15px 0px 0px 15px;
}
section.projects .project-inner-carousel .logo{
    position: absolute;
    right: 35px;
    bottom: 40px;
}
section.projects .project-inner-carousel .owl-item:hover{
    cursor: pointer;
}
section.projects .project-inner-carousel .owl-item .logo,
section.projects .project-inner-carousel .owl-item .bg{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: .5s;
}
section.projects .project-inner-carousel .owl-item:hover .logo,
section.projects .project-inner-carousel .owl-item:hover .bg{
    -webkit-filter: grayscale(0);
    filter: none;
    transition-duration: .5s;  
}
section.projects .project-inner-carousel .owl-item:hover .btn-green{
    -webkit-filter: grayscale(0);
    filter: none;
}
/* projects end */
/* Industries start */
section.industries{
    padding: 120px 0 20px;
}
section.industries .industry-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
section.industries .industry-item-card{
    flex: 0 0 30%;
    padding: 35px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    height: 280px;
}
section.industries .industry-item-card .icon {
    width: 72px;
    height: 72px;
    background-color: #C31A2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 13px;
}
section.industries .industry-item-card .icon img{
    height: 32px;
}
section.industries .industry-item-card h2{
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
section.industries .industry-item-card p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
/*    text-align: justify;*/
    margin-bottom: 15px;
}
section.industries .industry-item-card a{
    font-weight: 400;
    font-size: 15px;
    color: #007133;
    text-decoration: none;
}
section.industries .industry-item-card a img{
    margin-left: 10px;
}
/* Industries end */
/* partners start */
section.partners{
    padding: 75px 0 45px;
    background-color: #C31A2B;
}
section.partners .owl-carousel-item{
    height: 100px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
}
    section.partners .owl-carousel-item img {
        transition: transform .2s;
        max-width: 130px;
        max-height: 90px;
    }
section.partners .owl-nav button:not(.disabled){
    background-color: #5B0C04;
    color: var(--white);
}
/* partners end */
/* clients start */
section.clients{
    padding: 75px 0 45px;
    background-color: #5B0C04;
}
section.clients .owl-carousel-item{
    height: 100px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
}
    section.clients .owl-carousel-item img {
        max-height: 90px;
        max-width: 130px;
        transition: transform .2s;
    }
section.clients .owl-nav button:not(.disabled){
    background-color: #C31A2B;
    color: var(--white);
}
/* clients end */


section h3{
    color: #C31A2B;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
section h2{
    font-weight: 500;
    font-size: 30px;
}
section p{
    font-weight: 500;
    font-size: 15px;
    color: #3A3C40;
}
section.dark h3,
section.dark h2,
section.dark p{
    color: var(--white);
}
.owl-nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.owl-nav button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px;
}
.owl-nav button.disabled{
    background-color: #DBDBDB !important;
}

.top-title{
    background-image: url(../images/breadcramb-bg.jpg);
    color: var(--white);
    height: 160px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.breadcrumb{   
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0;
}
.breadcrumb li{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}
.breadcrumb li:not(:last-child)::after{
    content: '/';
    color: #fff;
    margin: 0 5px;
}
.breadcrumb li a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}


section.services-items{
    padding: 80px 0 130px;
    background-color: #F5F5F5;
}

section.services-items .service-item{
    height: 290px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 30px;
}
/*section.services-items .service-item:nth-child(odd){
    background-image: url(../images/service-bg-1.svg);
    background-color: var(--white);
}
section.services-items .service-item:nth-child(odd) p{
    color: 3A3C40;
}
section.services-items .service-item:nth-child(even){
    color: var(--white);
    background-image: url(../images/service-bg-2.svg);
    background-color: #3A3C40;
}
section.services-items .service-item:nth-child(even) p{
    color: var(--white);
}*/
section.solutions-about{
    background-color: #1C1A1A;
    padding-bottom: 30px;
}
section.solutions-about .solutions-about-text{
    padding: 60px 0;
}
section.solutions-about .solutions-about-img{
    margin-top: 25px;
}

section.solutions-about h3{
    color: #C31A2B;
    font-weight: 600;
    font-size: 20px;
}
section.solutions-about h2{
    font-weight: 700;
    font-size: 35px;
    color: #DBDBDB;
    margin-bottom: 40px;
}
section.solutions-about p{
    font-weight: 400;
    font-size: 15px;
}
section.solutions-about .img-top{
    margin-top: -24px;
    border-radius: 15px;
}
section.solutions-about .img-bottom-container{
    text-align: right;
    margin-top: -60px;
    position: relative;
}
section.solutions-about .img-bottom-container::before{
    content: '';
    background-image: url(../images/shield.svg);
    width: 70px;
    height: 80px;
    position: absolute;
    top: -60px;
    right: 120px;
}
section.solutions-about .img-bottom{
    border-radius: 15px;
}
section.solutions-inner .solutions-inner-tabs{
    background-color: #1E1E1E;
}
section.solutions-inner .solutions-inner-tabs .nav-tabs .nav-link{
    position: relative;
    color: var(--white) !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 125px !important;
    border: transparent;
    border-radius: 0;
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    padding-top: 40px;
    transition-duration: 0s;
}
section.solutions-inner .solutions-inner-tabs .nav-tabs .nav-link span{
    position: absolute;
    font-weight: 700;
    font-size: 54px;
    color: rgba(255, 255, 255, 0.1);
    left: 20px;
    bottom: 45px;
}
section.solutions-inner .solutions-inner-tabs .nav-link:hover,
section.solutions-inner .solutions-inner-tabs .nav-link.active{
    background-color: #C01522 !important;
    
}
section.solutions-inner .solutions-inner-tabs .nav-link:hover::before,
section.solutions-inner .solutions-inner-tabs .nav-link.active::before{
    content: '';    
    top: -15px;
    background-color: #C01522 !important;
    height: 15px;
    left: 0;
    right: 0;
    position: absolute;
    /*
    height: 140px !important;
    margin-top: -15px;
    padding-top: 55px;
    animation-name: solution-inner-animation;
    animation-duration: 4s;
    */
}
section.solutions-inner .tab-pane{
    padding: 35px 0 150px;
}
/* become-a-partner start */
section.become-a-partner{
    background-image: url(../images/become-a-partner-bg.jpg);
    background-size: cover;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.become-a-partner .btn-green{
    margin: auto;
}
section.become-a-partner p{
    font-weight: 400;
    font-size: 15px;
    opacity: 0.8;
}
/* become-a-partner end */
section.contact {
    background: #2A2727; /*linear-gradient(to right, #fff 30%, #2A2727 30%, #2A2727 100%);*/
}
    section.contact > .container > .row {
        background: #2A2727; /*linear-gradient(to right, #fff 5%, #2A2727 5%, #2A2727 100%);*/
    }
section.contact .dark{
    color: var(--white);
}
section.contact .contact-title{
    padding: 40px 0 30px;
}
section.contact .contact-form{
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: -85px;
}
section.contact .contact-form .form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 45px;
    color: var(--black);
}
section.contact .contact-form .form-control:focus{
    border-bottom: 1px solid #C41A2B;
}
section.contact .contact-form .form-control:focus,
section.contact .contact-form .form-control:focus-visible,
section.contact .contact-form .form-control:focus-visible{
    box-shadow: none;
}
section.contact .contact-form .form-control::placeholder{
    color: #7D7D7D;
}
.btn-contact,
.btn-contact:hover{
    width: 159px;
    height: 56px;
    border: 1px solid #C01522;
    border-radius: 15px;
    color: #211F1F;
}
.btn-contact svg{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.btn-contact svg path{
    stroke: #C01522;
}
section.contact .contact-item{
    color: var(--white);
    display: flex;
    margin-bottom: 25px;
}
section.contact .contact-item .contact-img{
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C31A2B;
    border-radius: 15px;
    margin-right: 27px;
}
section.contact .contact-item .contact-info .title{
    font-weight: 700;
    font-size: 25px;
}
section.contact .contact-item .contact-info .text{
    font-weight: 600;
    font-size: 15px;
}
section.contact .contact-item .contact-info .text a{
    color: var(--white);
    text-decoration: none;
}
section.empty {
    height: 170px;
    background: #2A2727;
}
/* become-a-partner start */
/* become-a-partner end */
/* become-a-partner start */
section.partners-inner{
    padding: 70px 0;
}
section.partners-inner h2{
    font-weight: 700;
}
section.partners-inner p{
    margin-bottom: 50px;
}
section.partners-inner .partners-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
section.partners-inner .partner-item{
    flex: 0 0 calc(16.66% - 16.66px);    
    background-color: #FCFCFC;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;;
    border-radius: 15px;
}
    section.partners-inner .partner-item img {
        max-width: 130px;
        transition: transform .2s;
    }
/* become-a-partner end */

/* industries inner start */
section.industries-inner{
    background: linear-gradient(to right, #2A2727 30%, #fff 30%, #fff 100%);

}
section.industries-inner>.container>.row{
    background: linear-gradient(to right, #2A2727 33.3%, #fff 33.3%, #fff 100%);
}
section.industries-inner .dark{
    padding: 50px 0;
    color: var(--white);
}
section.industries-inner h2{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
section.industries-inner .industry-img img{
    border-radius: 15px;
    margin-top: 75px;
}
section.industries-inner .industry-details{
    margin-top: 100px;
}
section.industries-inner .nav-tabs button{
    text-align: left !important;
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
}
section.industries-inner .nav-tabs button svg{
    height: 18px;
    margin-right: 20px;
}
section.industries-inner .nav-tabs button.active svg path,
section.industries-inner .nav-tabs button:hover svg path{
    stroke: #C01522;
    fill: #C01522;
}
section.industries-inner .nav-tabs{
    border-bottom: none;
}
section.industries-inner .nav-tabs button.active,
section.industries-inner .nav-tabs button:hover{
    color: #C01522;
    background-color: transparent;
    border: 1px solid transparent;
}
section.industries-inner .industry-details h3{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
section.industries-inner .industry-details h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}
section.industries-inner .industry-details p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
}

section.solutions-inner .solutions-inner-carousel{
    height: 125px !important;
}
section.solutions-inner nav {
    height: 125px !important;
}
section.solutions-inner .solutions-inner-carousel > .owl-nav button.disabled,
section.solutions-inner .solutions-inner-carousel > .owl-nav button{
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:  rgba(21, 21, 21, 0.87) !important;
    color: var(--white);

}
section.solutions-inner .solutions-inner-carousel > .owl-nav .owl-prev{
    left: -65px;
}
section.solutions-inner .solutions-inner-carousel > .owl-nav .owl-next{
    right: -65px;
}
/* industries inner end */
/* about start */
section.about-inner{
    background: linear-gradient(to right, #2A2727 30%, #fff 30%, #fff 100%);
}
section.about-inner .about-title{
    padding: 65px 0 75px;
    background-color: #2B2727;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 0px 0px 25px 0px;
    padding-right: 65px;
}
section.about-inner .about-title p{
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
}
section.about-inner .about-summary{
    margin-top: 125px;
}
/* about end */
section.security-solutions{
    padding: 40px 0 90px;
}
section.security-solutions .security-solutions-text{
    padding-right: 100px;
}
section.security-solutions h3{
     margin: 40px 0 20px;
}
section.security-solutions h6{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
}
section.security-solutions p{
    font-weight: 400;
    font-size: 15px;
    color: #3A3C40;
}
section.ceo-message{
    background-color: #2B2727;
    padding: 60px 0 50px;
}
section.ceo-message h2{
    text-transform: uppercase;
}
section.ceo-message .security-solutions-text{
    position: relative;
    margin-top: 145px;
    font-size: 15px;
    line-height: 26px;
}
section.ceo-message .security-solutions-text::before{
    content: '';
    width: 181px;
    height: 127px;
    background-image: url(../images/quotemarks-left.svg);
    left: 10px;
    top: -100px;
    background-size: cover;
    position: absolute;
}
section.ceo-message .security-solutions-text p{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
}
section.our-values{
    padding: 40px 0 120px;
    background-color: #C41A2B;
}
section.our-values-details{
    margin-bottom: 70px;
}
section.our-values-details .value-card{
    height: 330px;
    padding: 35px;
    margin-top: -80px;
    background-color: #FCFCFC;
    background-size: cover;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
section.our-values-details .value-card .icon img{
    height: 55px;
    margin-bottom: 30px;
}
section.our-values-details .value-card h2{
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}
section.our-values-details .value-card p{
    font-weight: 500;
    font-size: 15px;
    color: #3A3C40;
}
section.our-values-details .value-card a{
    font-weight: 400;
    font-size: 15px;
    color: #007133;
    text-decoration: none;
}
section.our-values-details .value-card a img{
    margin-left: 10px;
}

footer{
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    color: var(--white) !important;
    padding: 40px 0 55px;
}
footer .footer-newsletter .subscribe{
    position: relative;
    height: 115px;
    display: flex;
    align-items: center;
}
footer .footer-newsletter .newsletter-label-container{
    height: 115px;
    display: flex;
    align-items: center;
}
footer .footer-newsletter .subscribe input{
    height: 70px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    background-color: #FCFCFC;
    width: 100%;
    padding-left: 52px;
    outline: none !important;
}
footer .footer-newsletter .subscribe-btn{
    background-color: #C31A2B;
    border-radius: 15px;
    border: 1px solid #C31A2B;
    width: 131px;
    height: 62px;
    color: #FFFFFF;
    position: absolute;
    right: 5px;
}
footer .footer-newsletter .container{
    background-color: rgba(0, 0, 0, 0.2);
    height: 115px;
    border-radius: 15px;
}
footer .footer-newsletter h4{
    font-weight: 700;
    font-size: 25px;
}
footer .footer-bottom{
    margin-top: 50px;
}
footer .footer-bottom .logo{
    margin-bottom: 20px;
}
footer .footer-bottom .description{
    font-weight: 400;
    font-size: 15px;
    color: var(--white);
    line-height: 26px;
    margin-bottom: 30px;
}
footer .social-links{
    margin-bottom: 30px;
}
footer .social-links a{
    margin-bottom: 30px;
    font-size: 24px;
    
}
footer .fast-links{
    padding: 0 50px;
}
footer .fast-links a{
    color: var(--white);
    text-decoration: none;
}
footer .contact-info .contact-info-item{
    margin-bottom: 20px;
}
footer .contact-info .contact-info-item .icon{
    margin-right: 20px;
}
footer .contact-info .contact-info-item .text{
    font-weight: 400;
    font-size: 15px;
}
footer .contact-info .contact-info-item a{
    color: var(--white);
    text-decoration: none;
}
footer .fast-links ul li{
    margin-bottom: 30px;
}
/*------------------*/
section.projects ul.project-details-items li .text {
    color: #000;
    border: 1px solid #DBDBDB40;
}

section.projects ul.project-details-items li:first-child .text {
    border-top-right-radius: 15px;
}

section.projects ul.project-details-items li:last-child .text {
    border-bottom-right-radius: 15px;
}

section.projects ul.project-details-items li .label {
    border: 1px solid #DBDBDB40;
}

section.solutions .tab-content .tab-pane p {
    line-height: 30px;
    padding-right: 30px;
}

section.solutions .owl-carousel .owl-stage-outer {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.solutions-inner-tabs .owl-carousel .owl-stage-outer{
    overflow: visible !important;
}

footer .social-links a {
    color: #fff;
    margin-right: 10px;
}

    footer .social-links a:hover {
        color: #c31a2b;
    }
.layout.position-relative.project {
    background-color: #FFF8F8;
}
section.projects.page {
    background: none;
}
section.projects.page h2, section.projects.page p {
    color: black;
}
.Project-item {
margin-top:30px
}
.team-carousel .owl-carousel-item{
    background: #FCFCFC;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    padding: 14px 17px 30px;
}
.team-carousel .owl-carousel-item a{
    text-decoration: none;
}
.team-carousel .owl-carousel-item .image{
    background-size: cover;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    height: 290px;
    
}
.team-carousel .owl-carousel-item h4{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.team-carousel .owl-carousel-item h6{
    color: #3A3C40;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    height:40px;
}
.team-carousel .owl-nav.disabled{
    display: flex;
}
.team-carousel .owl-nav button{
    width: 45px;
    height: 45px;
    background-color: #007133 !important;
    color: var(--white) !important;
}
.team-carousel .owl-nav button:hover{
    background-color: #DBDBDB !important;
    color: #3A3C40 !important;
}
.dropdown-menu{
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
}
.home .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu li{
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
}
.dropdown-menu li:last-child{
    border-bottom: 1px solid transparent;
}
.dropdown-menu a{
    font-weight: 400 !important;
    font-size: 14px !important;
}


header .navbar-nav a {
    text-decoration: none;
    font-size: 15px;
    position: relative;
    line-height: 34px;
    margin-right: 12px;
    padding: 5px;
    font-weight: 600;
}

    header .navbar-nav a:hover,
    header .navbar-nav a.active {
        background-color: transparent;
        color: var(--red);
    }
.tns-controls button{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: transparent;
    background-color: #DBDBDB;
    color: var(--white);
}
.tns-controls button:hover{
    background-color: #007133;
    color: var(--white);
}
.tns-controls button:first-child{
    right: -50px;
    top: 0;
    transform: rotate(90deg);
}
.tns-controls button:last-child{
    right: -50px;
    top: 50px;
    transform: rotate(90deg);
}

/*--------*/
.home20 {
font-size:20px;
font-weight:600;
}
#mainSliderCarousel > .owl-stage-outer {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.btn-green img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.btn-green:hover {
    background-color: var(--red);
}
section.services-details .service-card a:hover, section.industries .industry-item-card a:hover {
    color: var(--red);
}
    section.services-details .service-card a:hover img, section.industries .industry-item-card a:hover img {
        content: url(../images/launch-app-red.svg);
    }
section.solutions ul li a:hover img {
height:30px;
}
section.solutions ul li a:hover {
    height: 65px;
    font-size: 16px;
}
footer .fast-links a:hover {
    color: var(--red);
}

section.industries .industry-item-card:hover {
cursor:pointer;
background-color:black;
}
section.industries .industry-item-card:hover p{
   
    color: #fff;
}
section.industries .industry-item-card:hover .icon {
  /*  background-color: #007133;*/
}
section.industries .industry-item-card:hover h2 {
    color: #fff;
}
    section.industries .industry-item-card:hover a {
        color: Var(--red);
    }
section.industries .industry-item-card a:hover {
    color: Var(--red);
}
section.industries .industry-item-card:hover a img {
    content: url(../images/launch-app-red.svg) !important;
}
section.partners .owl-carousel-item img:hover {
    transform: scale(1.2);
  
}
section.clients .owl-carousel-item img:hover {
    transform: scale(1.2);
}
section.partners-inner .partner-item img:hover {
    transform: scale(1.2);
}
section.services-items .service-item{
 /*   background-image: url(../images/service-bg-1.svg);*/
    background-color: var(--white);
}

    section.services-items .service-item p {
        color: 3A3C40;
    }

section.services-items .service-item:hover{
    color: var(--white);
   /* background-image: url(../images/service-bg-2.svg);*/
    background-color: #3A3C40;
}

    section.services-items .service-item:hover p {
        color: var(--white);
    }
.btn-contact:hover svg path {
    stroke: var(--white);
}
.btn-contact:hover  {
    background:var(--red);
    color:var(--white);
}
section.services-details .service-card:hover .icon img {
    transform: scale3d(1.5, 1.5, 1.5);
}

.navbar-toggler-icon{
    background-image: url('../images/menu.svg') !important;
    width: 24px;
}
.search_btn_container{
    display: flex;
}
section.careers .tags{
    padding: 0 20px;
    background-color: #3A3C40;
    border-radius: 12px;
    color: var(--white);
    height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
section.careers h3{
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
}
section.careers p{
    font-weight: 400;
    font-size: 14px;
    color: #3A3C40;
}
section.careers .time{
    font-weight: 400;
    font-size: 13px;
    color: #3A3C40;
    display: flex;
    align-items: center;
}
section.careers .time img{
    margin-right: 10px;
}
@media screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1280px) {
    section.projects .project-carousel > .owl-nav button{
        margin-top: 20px;
        position: relative !important;
    }
}
@media only screen and (max-width: 991px) {
    .search_btn_container{
        display: none !important;
    }
    header .container-fluid{
        display: block !important;
    }
    header .navbar-toggler{
        float: right;
    }
    section.about-us{
        background: var(--white);
        padding: 30px 0;
        height: auto;
    }
    section.services{
        padding: 30px 0;
    }
    section.services-details{
        background-color: #EEF8F2;
    }
    section.services-details .service-card{
        margin: 0 0 30px;
    }
    section.solutions nav{
        height: 70px;
    }
    section.solutions nav .nav-tabs button{
        display: flex;
        align-items: center;
        height: 70px;
    }
    section.solutions nav .nav-tabs button.active,
    section.solutions nav .nav-tabs button:hover{
        height: 70px;
        font-weight: 500;
    }
    section.solutions .btn-green{
        margin-bottom: 30px;
    }
    section.industries{
        padding: 30px 0
    }
    section.industries .industry-item-card{
        flex: 1 1 90%
    }
    .fast-links h2{
        margin: 20px 0;
    }
    .contact-info h2{
        margin-bottom: 20px;
    }
    footer .fast-links,
    footer .contact-info{
        padding: 0 15px;
    }
    footer{
        padding: 30px 0;
    }
    footer .footer-newsletter .container{
        height:auto;
        padding: 20px 10px;
    }
    footer .footer-newsletter .newsletter-label-container{
        height: 60px;
    }
    footer .footer-newsletter .subscribe{
        height: 50px;
    }
    footer .footer-newsletter .subscribe input{
        height: 50px;
    }
    footer .footer-newsletter .subscribe-btn{
        height: 42px;
    }
    footer .footer-bottom{
        margin-top: 30px;
    }
    footer .footer-newsletter h4{
        margin-bottom: 20px;
    }
    .copyright{
        text-align: center;
    }
    section.our-values{
        padding: 20px 0 !important;
    }
    section.our-values-details .value-card{
        margin: 20px 0;
    }
}
@media only screen and (max-width: 768px) {
    .main-slider .owl-dots{
        right: 22px;
    }
    section.main-slider .carousel-item h2{
        font-weight: 700;
        font-size: 28px;
        margin-left: 25px;
    }
    section.main-slider .carousel-item p{
        font-weight: 400;
        font-size: 13px;
        margin-right: 30px;
        margin-left: 25px;
    }
    .btn-green{
        margin-left: 25px;
    }
    section.projects .project-inner-carousel .overley{
        border-radius: 0;
    }
    section.projects ul.project-details-items{
        padding: 0 13px !important;
    }
    section.projects ul.project-details-items li:first-child .text,
    section.projects ul.project-details-items li:last-child .text{
        border-radius: 0;
    }
    section.projects .item .col-md-5,
    section.projects .item .col-md-7{
        padding: 0 !important;
    }
    section.projects ul.project-details-items li .label{
        font-size: 20px;
        flex: 0 0 50%;
    }
    section.projects ul.project-details-items li .text{
        font-size: 16px;
        flex: 0 0 50%;
    }
    .tns-controls button:first-child,
    .tns-controls button:last-child{
        right: 20px
    }
    #tns2-ow{
        margin-right: 70px
    }
    section.about-inner{
        background: var(--white);
    }
    .about-inner .container,
    .security-solutions .container{
        width: 100% !important;
        max-width: none;
    }
    section.about-inner .about-title{
        border-radius: 0;
        padding: 30px 0;
        text-align: center;
    }
    section.about-inner .about-summary{
        padding: 30px 15px;
        margin-top: 0;
    }
    section.security-solutions{
        padding: 20px 0;
    }
    section.security-solutions h3{
        margin: 0;
    }
    section.ceo-message{
        padding: 20px ;
    }
    section.ceo-message .security-solutions-text{
        margin-top: 60px;
    }
    section.contact>.container>.row{
        background: #2A2727;
    }
    section.contact .contact-form{
        margin-bottom: 20px;
    }
    .empty{
        height: auto !important;
    }
    section.industries-inner .dark{
        padding: 20px 15px;
        background-color: #2A2727;
    }
    section.industries-inner .white{
        background-color: var(--white);
    }
    section.industries-inner .industry-details{
        margin-top: 20px;
    }
    section.industries-inner .industry-details h2{
        color: #2A2727;
        margin-bottom: 20px
    }
    section.partners-inner .partner-item{
        flex: 0 0 calc(50% - 16.66px);
    }
    .nav-center {
        background: #fff;
        z-index: 5;
        position: relative;
    }
    .home .nav-center {
        background: #000;
    }
    header .search_btn {
        display: none !important;
        visibility: hidden !important;
    }
    section.solutions-about .solutions-about-text{
        padding: 20px 15px;
    }
    section.services-items .service-item{
        padding: 30px;
        height: auto;
    }
    section.services-items .service-item  h2{
        margin: 20px 0;
    }
    section.careers .accordion-flush .accordion-item .accordion-button{
        flex-direction: column;
        align-items: start;
    }
}
@media only screen and (max-width: 600px) {
  
}