@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Services = ViewBag.Services as List<Service>;

}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Careers</li>
    </ul>
</div>
}

<div class="layout position-relative">
    <section class="careers">
        <div class="container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <div class="tags">
                                Full time
                            </div>
                            <h3>
                                Network Implementation Engineer
                            </h3>
                            <p>
                                Set up and maintain wide area networks for organizations that need these networks to
                                operate regularly.
                            </p>
                            <div class="time">
                                <img src="~/assets/images/calendar.svg" alt="Date">
                                22 Oct 2022
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h2>
                                Responsibilities
                            </h2>
                            <ul>
                                <li>
                                    Set up and maintain wide area networks for organizations that need these networks to
                                    operate regularly.
                                </li>
                                <li>
                                    Analyzing, testing and evaluating networks to make sure that they run properly and
                                    have the resources necessary for smooth functioning.
                                </li>
                                <li>
                                    Check WAN performance, capacity, security settings, approvals and network flow
                                    maintenance.
                                </li>
                                <li>
                                    Instruct/educate people on the usage of networks.
                                </li>
                                <li>
                                    Implement wide space networks, network servers, hubs, routers, and various computer
                                    peripherals.
                                </li>
                                <li>
                                    Check WAN performance and fix any problems.
                                </li>
                                <li>
                                    Document network configuration and hardware/software-related operating procedures.
                                </li>
                                <li>
                                    Back up network-based data.
                                </li>
                            </ul>
                            <h2>
                                Requirements
                            </h2>
                            <ul>
                                <li>
                                    Set up and maintain wide area networks for organizations that need these networks to
                                    operate regularly.
                                </li>
                                <li>
                                    Analyzing, testing and evaluating networks to make sure that they run properly and
                                    have the resources necessary for smooth functioning.
                                </li>
                                <li>
                                    Check WAN performance, capacity, security settings, approvals and network flow
                                    maintenance.
                                </li>
                                <li>
                                    Instruct/educate people on the usage of networks.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                            body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                            body. Nothing more exciting happening here in terms of content, but just filling up the
                            space to make it look, at least at first glance, a bit more representative of how this would
                            look in a real-world application.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>