@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Contactitems = ViewBag.Contactitems as List<Contactitem>;
      var ContactitemsPage = ViewBag.ContactitemsPage as List<Contactitem>;
    
    var SiteSettings = ViewBag.SiteSettings as SiteSetting;
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Contact us</li>
    </ul>
</div>
}
<div class="layout position-relative">
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-11 offset-md-1 dark">
                    <div class="contact-title">
                        <h3>
                            @SiteSettings.ContactTitle
                        </h3>
                        <h2>
                           @SiteSettings.ContactTitle2
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 contact-form">

                    <form>
                        <div class="mb-3">
                            <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Full Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="subject" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Subject">
                        </div>
                        <div class="mb-3">
                            <textarea name="message" id="message" cols="30" rows="5" placeholder="Message"
                                class="form-control"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-contact">
                                Inquire Now
                                <img class="svg-inline" src="~/assets/images/launch-app.svg" alt="Inquire Now">
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    @foreach(var itm in ContactitemsPage)
                    {
                    <div class="contact-item">
                        <div class="contact-img">
                            <img src="~/assets/images/@itm.Icon" alt="Phone">
                        </div>
                        <div class="contact-info">
                            <div class="title">
                                @itm.Title
                            </div>
                            <div class="text">
                                @itm.Value
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </section>
    <section class="empty"></section>
</div>