@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Partners</li>
    </ul>
</div>
}

<div class="layout position-relative">
    <section class="become-a-partner dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">

                    <h2>
                        Want to became a partners with us?
                    </h2>
                    <p>3S has worked with top cable and accessory manufacturers to provide our esteemed customers with
                        reliable structured cabling solutions
                    </p>
                    <a href="#" class="btn btn-green">
                        Contact us
                        <img src="~/assets/images/envelop.svg" alt="Contact us">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="partners-inner">
        <div class="container text-center">
            <h2>
                We bring the best of the security industry
            </h2>
            <p>
                to our customers to solve the hardest challenges
            </p>
            <div class="partners-items">
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-01.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-02.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-03.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-04.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-05.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-06.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-01.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-02.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-03.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-04.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-05.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-06.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-01.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-02.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-03.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-04.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-05.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-06.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-01.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-02.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-03.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-04.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-05.svg" alt="partner-01">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/images/partner-06.svg" alt="partner-01">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="services-items">
        <div class="container">
            <div class="service-item row">
                <div class="col-md-4">
                    <div class="icon">
                        <img src="~/assets/images/implementation-and-integration-icon.svg" alt="">
                    </div>
                    <h2>
                        Implementation and Integration
                    </h2>
                </div>
                <div class="col-md-8">
                    <P>
                        Most IT departments nowadays lack the resources to commit to new projects. Implementing
                        Information
                        Access initiatives necessitates skilled employees, professionals capable of providing detailed
                        design, a full integration plan, and rapid installation and testing. Our Implementation and
                        Integration service consultants can assist IT departments.
                    </P>
                    <a href="#" class="btn btn-green">
                        Learn More
                        <img src="~/assets/images/launch-app.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="service-item row">
                <div class="col-md-4">
                    <div class="icon">
                        <img src="~/assets/images/implementation-and-integration-icon.svg" alt="">
                    </div>
                    <h2>
                        Implementation and Integration
                    </h2>
                </div>
                <div class="col-md-8">
                    <P>
                        Most IT departments nowadays lack the resources to commit to new projects. Implementing
                        Information
                        Access initiatives necessitates skilled employees, professionals capable of providing detailed
                        design, a full integration plan, and rapid installation and testing. Our Implementation and
                        Integration service consultants can assist IT departments.
                    </P>
                    <a href="#" class="btn btn-green">
                        Learn More
                        <img src="~/assets/images/launch-app.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="service-item row">
                <div class="col-md-4">
                    <div class="icon">
                        <img src="~/assets/images/implementation-and-integration-icon.svg" alt="">
                    </div>
                    <h2>
                        Implementation and Integration
                    </h2>
                </div>
                <div class="col-md-8">
                    <P>
                        Most IT departments nowadays lack the resources to commit to new projects. Implementing
                        Information
                        Access initiatives necessitates skilled employees, professionals capable of providing detailed
                        design, a full integration plan, and rapid installation and testing. Our Implementation and
                        Integration service consultants can assist IT departments.
                    </P>
                    <a href="#" class="btn btn-green">
                        Learn More
                        <img src="~/assets/images/launch-app.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>