@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Solutions</li>
    </ul>
</div>
}

<div class="layout position-relative">

    <section class="solutions-about dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 solutions-about-text">
                    <h3>
                        Solutions
                    </h3>
                    <h2>
                        ICT Solutions
                    </h2>
                    <p>
                        ICT stands for Information and Communication Technology. This term is in addition to just IT
                        with communication added. This term has revolutionized the world with its positive impacts and
                        has changed everyone’s perspective on how we see things. World has turned into a small village
                        with the advent of ICT. System Security Solution is not far behind or besides this revolution
                        over the past years. 3S has been along with this term and has rendered several solutions to our
                        various customers across industries and areas. Our range of services and solutions cover IP
                        communications, IP telephony
                    </p>
                </div>
                <div class="col-md-6 text-center solutions-about-img">
                    <img src="~/assets/images/solutions-details-img.png" alt="Solutions">
                </div>
            </div>
        </div>
    </section>
    <section class="solutions-inner">
        <div class="solutions-inner-tabs">
            <div class="container">
                <div class="row">
                    <nav>
                        <div class="nav nav-tabs solutions-inner-carousel owl-carousel owl-theme" id="nav-tab"
                            role="tablist">
                            <button class="nav-link active" id="nav-ict-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ict-solutions" type="button" role="tab"
                                aria-controls="nav-ict-solutions" aria-selected="true">ICT solutions</button>
                            <button class="nav-link" id="nav-elv-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-elv-solutions" type="button" role="tab"
                                aria-controls="nav-elv-solutions" aria-selected="false">ELV Solutions</button>
                            <button class="nav-link" id="nav-audiovisual-system-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-audiovisual-system" type="button" role="tab"
                                aria-controls="nav-audiovisual-system" aria-selected="false">Audiovisual
                                system</button>
                            <button class="nav-link" id="nav-emerging-technologies-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-emerging-technologies" type="button" role="tab"
                                aria-controls="nav-emerging-technologies" aria-selected="false">Emerging
                                Technologies</button>
                            <button class="nav-link" id="nav-architectural-and-recreational-lighting-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-architectural-and-recreational-lighting"
                                type="button" role="tab" aria-controls="nav-architectural-and-recreational-lighting"
                                aria-selected="false">
                                Architectural and Recreational Lighting
                            </button>
                            <button class="nav-link" id="nav-industries-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-industries-solutions" type="button" role="tab"
                                aria-controls="nav-industries-solutions" aria-selected="false">
                                Industries Solutions
                            </button>
                            <button class="nav-link" id="nav-industries-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-industries-solutions" type="button" role="tab"
                                aria-controls="nav-industries-solutions" aria-selected="false">
                                Industries Solutions
                            </button>
                            <button class="nav-link" id="nav-industries-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-industries-solutions" type="button" role="tab"
                                aria-controls="nav-industries-solutions" aria-selected="false">
                                Industries Solutions
                            </button>
                            <button class="nav-link" id="nav-industries-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-industries-solutions" type="button" role="tab"
                                aria-controls="nav-industries-solutions" aria-selected="false">
                                Industries Solutions
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-ict-solutions" role="tabpanel"
                        aria-labelledby="nav-ict-solutions-tab" tabindex="0">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="solution-img">
                                    <img src="~/assets/images/srtuctured-cables.svg" alt="">
                                </div>
                                <h2>
                                    Structured Cables
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    ICT stands for Information and Communication Technology. This term is in
                                    addition to just IT with communication added. This term has revolutionized
                                    the
                                    world with its positive impacts and has changed everyone’s perspective on
                                    how we
                                    see things. World has turned into a small village with the advent of ICT.
                                    System
                                    Security Solution is not far behind or besides this revolution over the past
                                    years. 3S has been along with this term and has rendered several solutions
                                    to
                                    our various customers across industries and areas. Our range of services and
                                    solutions cover IP communications, IP telephony,
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-elv-solutions" role="tabpanel"
                        aria-labelledby="nav-elv-solutions-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-audiovisual-system" role="tabpanel"
                        aria-labelledby="nav-audiovisual-system-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-emerging-technologies" role="tabpanel"
                        aria-labelledby="nav-emerging-technologies-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-architectural-and-recreational-lighting" role="tabpanel"
                        aria-labelledby="nav-architectural-and-recreational-lighting-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-industries-solutions" role="tabpanel"
                        aria-labelledby="nav-industries-solutions-tab" tabindex="0">...</div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        $('.solutions-inner-carousel').owlCarousel({
            loop: true,
            responsiveClass: true,
            nav: true,
            dots: false,
            navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],
            responsive: {
                0: {
                    items: 3,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        });
    });
</script>
}