@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Solutions</li>
    </ul>
</div>
}

<div class="layout position-relative">

    <section class="solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h3>
                        Solutions
                    </h3>
                    <h2>
                        We design, integrate, install and maintain
                    </h2>
                    <p>
                        comprehensive solutions to meet a wide range of security challenges and ensure peak
                        performance
                    </p>
                </div>
            </div>
            <div class="row">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-ict-solutions-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-ict-solutions" type="button" role="tab"
                            aria-controls="nav-ict-solutions" aria-selected="true">ICT solutions</button>
                        <button class="nav-link" id="nav-elv-solutions-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-elv-solutions" type="button" role="tab"
                            aria-controls="nav-elv-solutions" aria-selected="false">ELV Solutions</button>
                        <button class="nav-link" id="nav-audiovisual-system-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-audiovisual-system" type="button" role="tab"
                            aria-controls="nav-audiovisual-system" aria-selected="false">Audiovisual
                            system</button>
                        <button class="nav-link" id="nav-emerging-technologies-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-emerging-technologies" type="button" role="tab"
                            aria-controls="nav-emerging-technologies" aria-selected="false">Emerging
                            Technologies</button>
                        <button class="nav-link" id="nav-architectural-and-recreational-lighting-tab"
                            data-bs-toggle="tab" data-bs-target="#nav-architectural-and-recreational-lighting"
                            type="button" role="tab" aria-controls="nav-architectural-and-recreational-lighting"
                            aria-selected="false">
                            Architectural and Recreational Lighting
                        </button>
                        <button class="nav-link" id="nav-industries-solutions-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-industries-solutions" type="button" role="tab"
                            aria-controls="nav-industries-solutions" aria-selected="false">
                            Industries Solutions
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-ict-solutions" role="tabpanel"
                        aria-labelledby="nav-ict-solutions-tab" tabindex="0">
                        <div class="row">

                            <div class="col-md-6">
                                <h3>
                                    ICT Solutions
                                </h3>
                                <p>
                                    ICT stands for Information and Communication Technology. This term is in
                                    addition to just IT with communication added. This term has revolutionized
                                    the
                                    world with its positive impacts and has changed everyone’s perspective on
                                    how we
                                    see things. World has turned into a small village with the advent of ICT.
                                    System
                                    Security Solution is not far behind or besides this revolution over the past
                                    years. 3S has been along with this term and has rendered several solutions
                                    to
                                    our various customers across industries and areas. Our range of services and
                                    solutions cover IP communications, IP telephony,
                                </p>
                                <button class="btn btn-green">
                                    Learn More
                                    <img src="~/assets/images/launch-app.svg" alt="">
                                </button>
                            </div>
                            <div class="col-md-5">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/advanced-wireless-solutions.svg"
                                                alt="Advanced Wireless Solutions">
                                            Advanced Wireless Solutions
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/advanced-wireless-solutions.svg"
                                                alt="Data center setup">
                                            Data center setup
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/advanced-wireless-solutions.svg"
                                                alt="Data networks">
                                            Data networks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/advanced-wireless-solutions.svg"
                                                alt="Data networks">
                                            Fiber optic network
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/advanced-wireless-solutions.svg"
                                                alt="Data networks">
                                            Structured cables
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-elv-solutions" role="tabpanel"
                        aria-labelledby="nav-elv-solutions-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-audiovisual-system" role="tabpanel"
                        aria-labelledby="nav-audiovisual-system-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-emerging-technologies" role="tabpanel"
                        aria-labelledby="nav-emerging-technologies-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-architectural-and-recreational-lighting" role="tabpanel"
                        aria-labelledby="nav-architectural-and-recreational-lighting-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-industries-solutions" role="tabpanel"
                        aria-labelledby="nav-industries-solutions-tab" tabindex="0">...</div>
                </div>
            </div>
        </div>
    </section>
    <section class="solutions-about">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="img-top" src="~/assets/images/about-camera.jpg" alt="About Us">
                    <div class="img-bottom-container">
                        <img class="img-bottom" src="~/assets/images/about-lenses.jpg" alt="About Us">
                    </div>
                </div>
                <div class="col-md-6 solutions-about-text">
                    <h3>
                        About us
                    </h3>
                    <h2>
                        was founded in 2014 and is based in Al Khobar
                    </h2>
                    <p>
                        Saudi Arabia. System Security Solutions has expressed an interest in establishing a professional
                        ICT
                        systems integrator
                    </p>
                    <p>
                        System Security Solutions has a tendency to expand throughout the GCC and the Middle East.
                        Today,
                        the
                        company is regarded as one of the top providers of professional systems integration, offering
                        customers
                        turnkey solutions to their problems, from initial design to system installation and testing, and
                        even
                        commissioning and after-sales servicing
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>