@model IEnumerable<_3sApp.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>News</li>
    </ul>
</div>
}
<div class="layout position-relative">
    <section class="news">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-md-4 image"
                                style="background-image: url('/assets/images/@item.CoverImage');">
                                </div>
                                <div class="col-md-8 text">
                                    <h4>
                                        @item.Title
                                    </h4>
                                    <p>
                                        @item.Title
                                    </p>
                                    <a asp-action="Details" asp-route-id="@item.Id">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </section>
</div>
