@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Services</li>
    </ul>
</div>
}

<div class="layout position-relative">
    <section class="services-items">
        <div class="container">
            <div class="service-item row">
                <div class="col-md-4">
                    <div class="icon">
                        <img src="~/assets/images/implementation-and-integration-icon.svg" alt="">
                    </div>
                    <h2>
                        Implementation and Integration
                    </h2>
                </div>
                <div class="col-md-8">
                    <P>
                        Most IT departments nowadays lack the resources to commit to new projects. Implementing
                        Information
                        Access initiatives necessitates skilled employees, professionals capable of providing detailed
                        design, a full integration plan, and rapid installation and testing. Our Implementation and
                        Integration service consultants can assist IT departments.
                    </P>
                    <a href="#" class="btn btn-green">
                        Learn More
                        <img src="~/assets/images/launch-app.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="service-item row">
                <div class="col-md-4">
                    <div class="icon">
                        <img src="~/assets/images/implementation-and-integration-icon.svg" alt="">
                    </div>
                    <h2>
                        Implementation and Integration
                    </h2>
                </div>
                <div class="col-md-8">
                    <P>
                        Most IT departments nowadays lack the resources to commit to new projects. Implementing
                        Information
                        Access initiatives necessitates skilled employees, professionals capable of providing detailed
                        design, a full integration plan, and rapid installation and testing. Our Implementation and
                        Integration service consultants can assist IT departments.
                    </P>
                    <a href="#" class="btn btn-green">
                        Learn More
                        <img src="~/assets/images/launch-app.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="service-item row">
                <div class="col-md-4">
                    <div class="icon">
                        <img src="~/assets/images/implementation-and-integration-icon.svg" alt="">
                    </div>
                    <h2>
                        Implementation and Integration
                    </h2>
                </div>
                <div class="col-md-8">
                    <P>
                        Most IT departments nowadays lack the resources to commit to new projects. Implementing
                        Information
                        Access initiatives necessitates skilled employees, professionals capable of providing detailed
                        design, a full integration plan, and rapid installation and testing. Our Implementation and
                        Integration service consultants can assist IT departments.
                    </P>
                    <a href="#" class="btn btn-green">
                        Learn More
                        <img src="~/assets/images/launch-app.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>